.stat {	
	margin-top: 2.25em;
}

.stat:first-child {
	margin-top: 0;
}

.stat .stat-header {	
	display: table;
	
	width: 100%;
	
	margin-bottom: .5em;
}

.stat-value {
	display: table-cell;
	
	width: 100%;
		
	color: #444;
	
	font-size: 12px;
	float: left;
}

.stat-label {
	display: table-cell;
	
	width: 100%;
	
	color: #333;
	
	font-size: 12px;
    float: left;
	
}

.stat .progress {
	margin-bottom: 0;
}

.stat .stat-note {
	margin-top: .65em;
	
	color: #888;
	
	font-style: italic;
}

.stat .stat-note {
	margin-top: .65em;
	
	color: #888;
	
	font-style: italic;
}